/* .forgot-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.success {
    margin-top: 10px;
    color: green;
} */


.forgot-password-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(230, 12%, 96%, 0.6);
    z-index: var(--z-fixed);
    backdrop-filter: blur(16px);
    align-items: center;
    padding: 1.5rem;
    transition: top 0.4s;
    text-align: center;
}

.forgot-password__form {
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border: 2px solid var(--border-color);
    row-gap: 1.25rem;
}

.forgot-password__title {
    font-size: var(--h2-font-size);
}

.forgot-password__group {
  row-gap: 1.25rem;
}

.forgot-password__label {
    display: block;
    font-weight: var(--font-medium);
    text-align: initial;
    color: var(--title-color);
    margin-bottom: 0.25rem;
}

.forgot-password-input {
    width: 100%;
    background-color: var(--container-color);
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    color: var(--text-color);
}

.forgot-password-input:focus {
    border-color: var(--first-color);
    outline: none;
}

.forgot-password__button {
    width: 100%;
    cursor: pointer;
}

.forgot-password__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Show forgot password */
.show-forgot-password {
    top: 0;
}

.dark-theme .search, .dark-theme .forgot-password-container {
    background-color: hsla(225, 3%, 26%, 0.6);
}

@media screen and (min-width: 1150px) {
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forgot-password__form {
    width: 400px;
  }
}
