/* Container for the Reset Password Page */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f8;
}

/* Form container */
.reset-password__form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Form Title */
.reset-password__form h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

/* Input styles */
.reset-password__form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

/* Button styles */
.reset-password__form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.reset-password__form button:hover {
    background-color: #218838;
}

/* Disabled button styles */
.reset-password__form button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

/* Message styles */
.reset-password__form p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #28a745;
}

/* Error message styles */
.reset-password__form .error {
    color: #dc3545;
}

/* Success message styles */
.reset-password__form .success {
    color: #28a745;
}

.signup__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--title-color);
    cursor: pointer;
}
@media screen and (min-width: 576px) { 
     
    .signup__close {
        width: max-content;
        top: 1rem ;
        left: 0;
        right: 0;
        margin-inline: auto;
    }
}
