/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Container for cart and summary */
.cart-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-top: 5rem;
}

.cart-items-section {
    flex: 2;
}

.cart-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

/* Cart item styles */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-image img {
    width: 100px;
    border-radius: 5px;
}

.item-details {
    flex: 1;
    margin-left: 20px;
}

.item-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.item-price {
    color: #555;
    margin-bottom: 10px;
}

.item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.quantity {
    margin: 0 10px;
    font-size: 1rem;
}

.remove-item-btn {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

/* Cart summary styles */
.cart-summary-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.cart-summary {
    padding: 20px;
    border-radius: 10px;
}

.summary-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
}

.total {
    font-weight: bold;
}

.checkout-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
    }

    .cart-summary-section {
        margin-top: 20px;
    }
}
