bcrypt==4.2.0
blinker==1.8.2
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
google-auth==2.34.0
google-auth-oauthlib==1.2.1
greenlet==3.1.0
gyp==0.1
httplib2==0.20.2
idna==3.8
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.4
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.5
more-itertools==8.10.0
msgspec==0.18.6
netifaces==0.11.0
oauthlib==3.2.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dotenv==1.0.1
PyYAML==5.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==2.0.34
systemd-python==234
typing_extensions==4.12.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.3
wadllib==1.3.6
Werkzeug==3.0.4
zipp==1.0.0
