<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Login Page</h1>
    <form action="" method="POST">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Write An Email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Write An First Password" />
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    <br>
    <a href="{{url_for('signup')}}">Sign-Up</a>
    <a href="{{url_for('landing')}}" style="margin-left: 30px;">Back</a>
</body>
</html>
