/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  
  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header {
  box-shadow: 0 4px 32px hsla(0, 0%, 0%, .4);
}
.dark-theme .nav__menu {
  box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .2);
}
.dark-theme .search,
.dark-theme .login{
  background-color: hsla(230, 12%, 8%, .6);
}

.dark-theme .scrollup {
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(230, 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 35%);
}




/*=============== REUSABLE CSS CLASSES ===============*/
/* .container {
  max-width: 1220px;
  margin-inline: 1.5rem;
  margin: 0 auto;
} */

.container {
  max-width: calc(100% - 3rem); /* Adjust the max-width to account for inline margins */
  margin-inline: 1.5rem; /* Sets the left and right margins */
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}





/* Error Page */
.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
  margin-top: 4rem;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.form-actions .button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #e30d7c;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;

  
}

.form-actions .button:hover {
  background-color: #e30d5b;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}

.center {
  text-align: center;
}

/* loading */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 15rem auto;
 
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e30d5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e30d5b transparent transparent transparent;
  
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Modal */

.modal {
  margin: 0;
  padding: 1.5rem;
  position: fixed;
  top: 17vh;
  left: calc(50% - 15rem);
  width: 30rem;
  max-height: 80vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

/*  */
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: box-shadow .4s;
  border-radius: .5rem;
  background-color: var(--first-color);
}
.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

/*  */
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(230, 16%, 85%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 65%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 55%);
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
}


/* Mid media */
 

/* modal mobile */

@media (max-width: 476px) {
  .modal {
    left: calc(50% - 11rem);
    padding: 1rem;
    top: 15vh;
    width: 23rem;
  }
  .error-block {
    gap: .5rem;
  }
}