/*=============== NEW ===============*/

.new__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.new__card {
  display: flex;
  align-items:center;
  flex-direction: column;
  /* justify-content: center; */
  column-gap: 2.5rem;
  padding: 1.5rem 1rem;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
  transition: border 0.4s, background-color 0.4s;
  
}
.new__card:hover {
  border: 2px solid var(--text-color);
}
.new__img {
  width: 100px;
  height: 150px;

}
.new__stars {
  margin-bottom: 1rem;
}
.new__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}
.add-card {
    width: 90%;
    text-align: center;
}
.new__prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75rem;
 
}

.new__discount {
  color: var(--title-color);
}
.new__price {
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.new__starts {
  color: var(--first-color);
  text-align: center;
  margin-bottom: 2rem;

}
.new__swiper:nth-child(1) {
  margin-bottom: 2rem;
}
.button {
    margin: auto;
}

.Cartbtn {

}

.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Customize the color of the buttons */
    width: 30px;
    height: 30px;
}

/* Position the buttons */
.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.featured__actions {
  display: inline-flex;
  flex-direction: column;
  row-gap: .75rem;
  position: absolute;
  top: 2rem;
  right: -1.5rem;
  visibility: hidden;
  transition: right .4s;
}
.featured__actions button {
  background: none;
  font-size: 1.25rem;
  color: var(--first-color);
  cursor: pointer;
}

.new__card:hover .featured__actions{
  right: 1.5rem;   
  visibility: visible;
}
 


/* @media screen and (min-width: 450px) and (max-width: 768px) {
  .new__card {
    width: 390px;
    margin: 0 auto;
    padding: 1.5rem;
  }
} */
/* @media screen and (min-width: 700px) and (max-width: 1200px) {
  .new__card {
    width: 400px;
    margin: 0 auto;
  }
 } */
 @media screen and (min-width: 1200px){ 
  .new__card {
    margin: 0 auto;
  }
 }

 /* new */
@media (max-width: 767px) {
  .new__container { 
    margin-left:  2rem  !important;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  
}

 
  
 